
.subscript-parent {
  background-color: $bgcSubColor;
  background-image: url('../img/Layer_sub.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.subscript {
  //min-width: 320px;
  @include flex(center, column);
  padding: 64px 10px 79px 10px;

  &__tittle {
    font-size: 28px;
    @include font($Montserrat, 700);
    color: $white;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.49;
    padding: 0 0 47px 0;
  }
}

.parent-table {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  grid-gap: 14px;
  width: 100%;
  padding: 0 5px 0 5px;
}

.table {
  min-width: fit-content;
  width: 90%;
  @include flex(center, column);
  background-color: rgba(255, 255, 255, .1);


  &--highlighted {
    width: 100%;
    background-color: $highlighted;
  }

  &__header {
    width: 100%;
    height: 97px;
    @include flex(center, column);
    background-color: rgba(255, 255, 255, .1);
    font-size: 24px;
    @include font($Montserrat);
    color: $white;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin-bottom: 24px;

    &--highlighted {
      margin-bottom: 4px;
      height: 111px;
      background-color: $highlightedHeader;
    }

  }

  &__price {
    padding: 0 0 12px 0;

    &--highlighted {
      padding: 0 0 4px 0;
    }
  }

  &__symbol {
    font-size: 60px;
    @include font($Montserrat);
    color: $white;

    &--highlighted {
      font-size: 84px;
    }
  }

  &__number {
    font-size: 60px;
    @include font($Montserrat, 700);
    color: $white;

    &--highlighted {
      font-size: 84px;
    }
  }

  &__times {
    font-size: 14px;
    @include font($Montserrat);
    color: rgba(255, 255, 255, .2);
    text-transform: uppercase;
    padding: 0 0 36px 0;

    &--highlighted {
      padding: 0 0 46px 0;
    }
  }

  &__line {
    width: 60px;
    height: 5px;
    border: none;
    background-color: $primary;
    margin: 0 0 26px 0;

    &--highlighted {
      margin: 0 0 36px 0;
    }
  }

  &__license {
    @include flex(center, column);
    padding: 0 0 60px 0;

    &--correct {
      padding: 0 0 34px 0;
    }

    &--highlighted {
      padding: 0 0 77px 0;

    }
  }

  &__licence-txt {
    font-size: 16px;
    @include font($Montserrat);
    color: $white;
    text-transform: capitalize;
    line-height: 1.67;
    text-align: center;

    &--highlighted {
      padding: 0 0 6px 0;
    }

    &--correct {
      padding: 0 0 2px 0;
    }
  }
}

.btn-purchase {
  @include flex(center, column);
  width: 160px;
  height: 42px;
  background-color: rgba(255, 255, 255, .1);
  font-size: 15px;
  @include font($Montserrat);
  color: $white;
  border-radius: 22px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 38px 0;

  &--highlighted {
    margin: 0 0 46px 0;
    width: 190px;
    height: 52px;
  }
}

@include for-size(mobile-landscape) {

  .subscript {

    &__tittle {
      font-size: 42px;
    }
  }
  .parent-table {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }

  .table {
    margin: 0 20px 41px 18px;
    height: 457px;

    &__header {
      height: 114px;

      &--highlighted {
        height: 133px;
        margin-bottom: 10px;
      }
    }

    &--highlighted {
      margin: 0 10px 41px 0;
      height: 560px;

    }

    &:last-child {
      place-self:center;
      margin: 0 20px 41px 5px;
    }

  }

}

@include for-size(desktop) {

  .subscript-parent {
    margin-top: 8px;
  }

  .subscript {
    padding: 64px 10px 79px 10px;
    margin-top: -13px;

    &__tittle {
      font-size: 43px;
    }
  }
  .parent-table {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;

  }

  .table {
    margin: 0 0 0 0;
    max-width: 290px;
    place-self:center;

    &:last-child {
      margin: 0 0 0 10px;
    }


    &--highlighted {
      max-width: 299px;
      margin: 6px 0 0 0;
    }

  }
  .btn-purchase:hover {
    background-color: $hoverBtn;
    @include font($Montserrat, 700);
    color: $txtHover;

  }
  
}