<section class="fork-app">
	<div class="container">
		<div class="fork-app__content">
			<h1 class="fork-app__title">
				Fork App
			</h1>

			<h3 class="fork-app__subtitle fork-app__subtitle--violet">
				A Real Gamechanger In The World Of Web-Development
			</h3>

			<h4 class="fork-app__subtitle fork-app__subtitle--grey">
				v. 2.8 For Mac and Windows
			</h4>
		</div>

		<a href="#" class="fork-app__download-btn">
			Download For Free Now
		</a>
	</div>
</section>